.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  padding: 0 10px;
}

.items {
  display: flex;
}

.items img {
  background: #e5f2e9;
  margin: 0 4px;
  padding: 4px;
  border-radius: 4px;
}

.logo {
  display: flex;
  flex-direction: row-reverse;
  margin-inline-start: 36px;
}

.logo img {
  margin-inline-start: 10px;
}

.title {
  text-align: center;
}

.title div:first-child {
  font-size: 12px;
}

.title div:last-child {
  font-size: 15px;
  font-weight: 600;
}
